<textarea class="message" rows="2" cols="30"></textarea>
<span class="countdown"></span>

<script>
function updateCountdown() {
	var remaining = 140 - jQuery('.message').val().length;
	jQuery('.countdown').text(remaining + ' characters remaining.');
}

jQuery(document).ready(function($) {
	updateCountdown();
	$('.message').change(updateCountdown);
	$('.message').keyup(updateCountdown);
});
</script>