<% if signed_in? %>
  <div class="row">
	<h1>Make a bet!</h1>
	<%= render 'shared/bet_info' %>
  </div>
<% else %>
  <div class="center hero-unit">
	<h1>Welcome to I Bet You</h1>
	<h2>
		This is the home page for I Bet You
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>